body{
  background-color:#009966;
}
.header img {
  float:left;
  height:120px;
  width:120px;
  padding-left:680px;
  padding-top:150px;
  position:relative;
  margin-top:-300px;
}

.header h1 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 55%;
  font-family:"Comic Sans MS", cursive, sans-serif;
  height: 50%;
  margin: auto;
  color:white;
  font-size:70px;
  vertical-align: middle;
  padding-left:230px;
  padding-top:210px;
  margin-top:400px;
  position:relative;
}
#but{
    background-color:#AA2200;
    border-radius:25%;
    border:none;
    color: white;
    font-family:"Comic Sans MS", cursive, sans-serif;
    padding: 20px 32px;
    text-decoration: none;
    font-size: 20px;
    margin-left:660px;
    margin-top:-200px;
    -webkit-appearance:none;

}
.grid{
  font-size:40px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:white;
  background-color:#009966;
  width:700px;
  height:600px;
  margin:0 auto;
  padding : 10px 50px 50px 50px;
  border-radius:50px;
  border:2px solid black;
  box-shadow: 10px 15px 5px black;
}
/*.q1,.q2,.q3,.q4,.q5,.q6,.q7,.q8,.q9,.q10{
  background-color:#009966;
  font-family:"Comic Sans MS", cursive, sans-serif;

}*/


.grid #question{
  font-size:34px;
  color:orange;

}



